<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <div>
                <h4 class="card-title">To Do list</h4>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- To do list widgets -->
        <!-- ============================================================== -->
        <div class="to-do-widget mt-4">
            <ul class="list-task todo-list list-group mb-0" data-role="tasklist">
                <li class="list-group-item border-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input " id="customCheck">
                        <label class="form-check-label db" for="customCheck">
                            <span class="fs-3 fw-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been</span>
                        </label>
                        <span class="badge rounded-pill badge-danger float-end">Today</span>
                    </div>
                    <div class="d-flex align-items-center ms-4 mt-2">
                        <img src="assets/images/users/user1.jpg" alt="user" width="40" class="rounded-circle ms-1">
                        <img src="assets/images/users/user2.jpg" alt="user" width="40" class="rounded-circle ms-1">
                        <img src="assets/images/users/user3.jpg" alt="user" width="40" class="rounded-circle ms-1">
                        <img src="assets/images/users/user4.jpg" alt="user" width="40" class="rounded-circle ms-1">
                    </div>
                </li>
                <li class="list-group-item border-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck1">
                        <label class="form-check-label db" for="customCheck1">
                            <span class="fs-3 fw-normal">Lorem Ipsum is simply dummy text of the printing</span>
                        </label>
                        <span class="badge rounded-pill badge-primary float-end">1 week </span>
                    </div>
                    <div class="ms-4 ps-1 fs-3 fw-normal text-muted"> 26 jun 2021</div>
                </li>
                <li class="list-group-item border-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck2">
                        <label class="form-check-label db" for="customCheck2">
                            <span class="fs-3 fw-normal">Give Purchase report to</span>
                        </label>
                        <span class="badge rounded-pill badge-info float-end">Yesterday</span>
                    </div>
                    <div class="d-flex align-items-center ms-4 mt-2">
                        <img src="assets/images/users/user1.jpg" alt="user" width="40" class="rounded-circle ms-1">
                        <img src="assets/images/users/user3.jpg" alt="user" width="40" class="rounded-circle ms-1">
                    </div>
                </li>
                <li class="list-group-item border-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck3">
                        <label class="form-check-label db" for="customCheck3">
                            <span class="fs-3 fw-normal">Lorem Ipsum is simply dummy text of the printing </span>
                        </label>
                        <span class="badge rounded-pill badge-warning float-end">2 weeks</span>
                    </div>
                    <div class="ms-4 ps-1 fs-3 fw-normal text-muted"> 26 jun 2021</div>
                </li>
                <li class="list-group-item border-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck4">
                        <label class="form-check-label db" for="customCheck4">
                            <span class="fs-3 fw-normal">Give Purchase report to</span>
                        </label>
                        <span class="badge rounded-pill badge-info float-end">Yesterday</span>
                    </div>
                    <div class="d-flex align-items-center ms-4 mt-2">
                        <img src="assets/images/users/user3.jpg" alt="user" width="40" class="rounded-circle ms-1">
                        <img src="assets/images/users/user4.jpg" alt="user" width="40" class="rounded-circle ms-1">
                    </div>
                </li>
                <li class="list-group-item border-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck5">
                        <label class="form-check-label db" for="customCheck5">
                            <span class="fs-3 fw-normal">Lorem Ipsum is simply dummy text of the printing </span>
                        </label>
                        <span class="badge rounded-pill badge-warning float-end">2 weeks</span>
                    </div>
                    <div class="ms-4 ps-1 fs-3 fw-normal text-muted"> 26 jun 2021</div>
                </li>
                <li class="list-group-item border-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck6">
                        <label class="form-check-label db" for="customCheck6">
                            <span class="fs-3 fw-normal">Give Purchase report to</span>
                        </label>
                        <span class="badge rounded-pill badge-primary float-end">1 week </span>
                    </div>
                    <div class="ms-4 ps-1 fs-3 fw-normal text-muted"> 26 jun 2021</div>
                </li>
            </ul>
        </div>
    </div>
</div>