<div class="row ">
    <!-- Column -->
    <div class="col col-sm">
        <div class="card">
            <div class="card-body">
                <div class=" p-2">
                    <div class="align-slef-center">
                        <h4 class="mb-0">Denuncios Web</h4>
                    </div>
                    <div class="align-self-center display-6 ms-auto"><i class="text-success icon-Target-Market"></i>
                    </div>
                </div>
            </div>
            <button class="btn btn-success">
                Entrar
            </button>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col col-sm ">
        <div class="card">
            <div class="card-body">
                <div class=" p-2">
                    <div class="align-slef-center">
                        <h4 class="mb-0">Compra Tiquetes</h4>
                    </div>
                    <div class="align-self-center display-6 ms-auto"><i class="text-info icon-Dollar-Sign"></i></div>
                </div>
            </div>
            <button class="btn btn-success">
                Entrar
            </button>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col col-sm ">
        <div class="card">
            <div class="card-body">
                <div class=" p-2">
                    <div class="align-slef-center">
                        <h4 class="mb-0">Genealogías</h4>
                    </div>
                    <div class="align-self-center display-6 ms-auto"><i class="text-primary icon-Inbox-Forward"></i>
                    </div>
                </div>
            </div>
            <button class="btn btn-success">
                Entrar
            </button>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col col-sm ">
        <div class="card">
            <div class="card-body">
                <div class=" p-2">
                    <div class="align-slef-center">
                        <h4 class="mb-0">Pagos Online</h4>
                    </div>
                    <div class="align-self-center display-6 ms-auto"><i class="text-danger icon-Contrast"></i></div>
                </div>
            </div>
            <button class="btn btn-success">
                Entrar
            </button>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col col-sm  ">
        <div class="card">
            <div class="card-body">
                <div class=" p-2">
                    <div class="align-slef-center">
                        <h4 class="mb-0">Actualización De Datos</h4>
                    </div>
                    <div class="align-self-center display-6 ms-auto"><i class="text-danger icon-Contrast"></i></div>
                </div>
            </div>
            <button class="btn btn-success">
                Entrar
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6 ">
                <!-- Card -->
                <a href="http://www.asocebu.com/index.php/blog/2014-08-27-14-08-27/pruebas-de-desempeno" target="_blank">
                    <div class="card fondo">

                        <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">

                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center; color: black;">PRUEBAS DE DESEMPEÑO</h4>
                            <p class="card-text"></p>

                        </div>
                    </div>
                </a>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <a href="">
                    <div class="card fondo">
                        <img class="card-img-top img-responsive" src="assets/images/big/img2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center; color: black;">FERIAS</h4>
                            <p class="card-text"></p>

                        </div>
                    </div>
                </a>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <a href="http://www.asocebu.com/index.php/blog/dept-registros/certificados-de-registros"target="_blank">
                    <div class="card fondo">
                        <img class="card-img-top img-responsive" src="assets/images/big/img3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center; color: black;">REGISTROS</h4>
                            <p class="card-text"></p>

                        </div>
                    </div>
                </a>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6 img-responsive">
                <!-- Card -->
                <a href="https://sir.asocebu.com.co/websocios/Images/Manual_plataforma_web_SIR.pdf"target="_blank">
                    <div class="card fondo">
                        <img class="card-img-top img-responsive" src="assets/images/big/img4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center; color: black;">MANUAL DE USUARIOS</h4>
                            <p class="card-text"></p>

                        </div>
                    </div>
                </a>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>