<div style="background-color: rgb(245, 226, 198); padding: 15px;">

<!--
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" sortable="cedulaPersona" >Identificacion</th>
				<th scope="col" sortable="nombrePersona" >Nombres y Apellidos</th>
				<th scope="col" sortable="estadoPersona" >Estado</th>
				<th scope="col" sortable="fechaIngreso" >FH Solicitud</th>
				<th scope="col" sortable="fechaInactiva" >FH inactivo</th>
				<th scope="col" sortable="obsPersona" >comentarios</th>
			</tr>
		</thead>

		<tbody>

			<tr *ngFor="let direccion of datosPersonas;index as i ">
				<td>{{direccion.cedulaPersona}}</td>
				<td>{{direccion.nombrePersona}}</td>
				<td>{{direccion.estadoPersona}}</td>
				<td>{{direccion.fechaIngreso}}</td>
				<td>{{direccion.fechaInactiva}}</td>
				<td>{{direccion.obsPersona}}</td>
			</tr>

		</tbody>
	</table>



	<div class="d-flex mt-3">
		<input type="text" placeholder="Search" class="form-control w-auto" [(ngModel)]="searchTerm" />
	</div>
	<table class="table table-striped border mt-4">
		<thead>
			<tr>
				
				<th sortable="cedulaPersona" (sort)="onSort($event)">Identificacion</th>
				<th sortable="nombrePersona" (sort)="onSort($event)">Nombres y Apellidos</th>
				<th sortable="estadoPersona" (sort)="onSort($event)">Estado</th>
				<th sortable="fechaIngreso" (sort)="onSort($event)">FH Solicitud</th>
				<th sortable="fechaInactiva" (sort)="onSort($event)">FH inactivo</th>
				<th sortable="obsPersona" (sort)="onSort($event)">comentarios</th>
				
			</tr>
		</thead>
		<tbody>
			<tr
				*ngFor="let client of cfilterClient | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

				<td>
					<ngb-highlight [result]="client.cedulaPersona" [term]="searchTerm"></ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]="client.nombrePersona" [term]="searchTerm"></ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]="client.estadoPersona" [term]="searchTerm"></ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]="client.fechaIngreso" [term]="searchTerm"></ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]="client.fechaInactiva" [term]="searchTerm"></ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]="client.obsPersona" [term]="searchTerm"></ngb-highlight>
				</td>


			</tr>
		</tbody>
	</table>


	<div class="d-flex justify-content-between p-2">
		<ngb-pagination [(page)]="page" [pageSize]="pageSize"
			[collectionSize]="totalLengthOfCollection"></ngb-pagination>
		<select class="form-select" style="width: auto" [(ngModel)]="pageSize">
			<option [ngValue]="5">5 items per page</option>
			<option [ngValue]="10">10 items per page</option>
			<option [ngValue]="15">15 items per page</option>
			<option [ngValue]="20">20 items per page</option>
			
		</select>
	</div>

-->
	<mat-form-field>
		<mat-label>Filter</mat-label>
		<input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
	  </mat-form-field>
	  
	  <table mat-table [dataSource]="dataSource" class="table table-striped " matSort>
	  
		
		<ng-container matColumnDef="cedulaPersona">
		  <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 15%;"mat-sort-header> Identificacion </th>
		  <td mat-cell *matCellDef="let element"> {{element.cedulaPersona}} </td>
		</ng-container>
	  
		
		<ng-container matColumnDef="nombrePersona">
		  <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 15%;" mat-sort-header> Nombres y Apellidos </th>
		  <td mat-cell *matCellDef="let element"> {{element.nombrePersona}} </td>
		</ng-container>
	  
		
		<ng-container matColumnDef="estadoPersona">
		  <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 10%;"mat-sort-header> Estado </th>
		  <td mat-cell *matCellDef="let element"> {{element.estadoPersona}} </td>
		</ng-container>
	  
		
		<ng-container matColumnDef="fechaIngreso">
		  <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 15%;"mat-sort-header> FH Solicitud </th>
		  <td mat-cell *matCellDef="let element"> {{element.fechaIngreso}} </td>
		</ng-container>

		<ng-container matColumnDef="fechaInactiva">
		  <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 15%;"mat-sort-header> FH inactivo </th>
		  <td mat-cell *matCellDef="let element"> {{element.fechaInactiva}} </td>
		</ng-container>
		
		<ng-container matColumnDef="obsPersona">
		  <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 239;"mat-sort-header> Comentarios </th>
		  <td mat-cell *matCellDef="let element"> {{element.obsPersona}} </td>
		</ng-container>
	  
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	  
		
		<tr class="mat-row" *matNoDataRow>
		  <td class="mat-cell" colspan="4">No se encontraron datos "{{input.value}}"</td>
		</tr>
	  </table>
	  
	 
	  <!--<mat-paginator [pageSizeOptions]="[2, 5, 10, 100]" aria-label="Select page of users"></mat-paginator>-->
</div>