<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round d-flex align-items-center justify-content-center text-white rounded-circle bg-success"><i class="ti-wallet"></i></div>
                    <div class="ms-2 align-self-center">
                        <h3 class="mb-0">$18090</h3>
                        <h5 class="text-muted mb-0">Income</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round d-flex align-items-center justify-content-center text-white rounded-circle bg-info"><i class="ti-user"></i></div>
                    <div class="ms-2 align-self-center">
                        <h3 class="mb-0">2690</h3>
                        <h5 class="text-muted mb-0">Users</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round d-flex align-items-center justify-content-center text-white rounded-circle bg-primary"><i class="ti-calendar"></i></div>
                    <div class="ms-2 align-self-center">
                        <h3 class="mb-0">20 march</h3>
                        <h5 class="text-muted mb-0">My birthday</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round d-flex align-items-center justify-content-center text-white rounded-circle bg-danger"><i class="ti-settings"></i></div>
                    <div class="ms-2 align-self-center">
                        <h3 class="mb-0">6540</h3>
                        <h5 class="text-muted mb-0">pending</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>